doctype html
html(lang='en')
  head
    title Funny Quotes
    link(rel="stylesheet" href="assets/css/main.css" media="screen" title="no title" charset="utf-8")
    meta(name="viewport" content="width=device-width")
  body
    .container
      include includes/main-active.jade
