body
  font-family: sans-serif

.container
  margin: 100px auto
  max-width: 1000px

h1
  font-size: 72px
  font-weight: 400
  color: $topBarLightCoral
  letter-spacing: 2px
  text-align: center

.button-center
  text-align: center
  margin-bottom: 15px

.quote
  font-size: 32px
  font-weight: 300
  text-align: center
  height: 150px

@media (max-width: 965px)
  .quote
    font-size: 28px
    padding: 0 10px

@media (max-width: 700px)
  .quote
    font-size: 24px
    padding: 10px 10px 0

@media (max-width: 600px)
  h1
    font-size: 64px
  .quote
    font-size: 22px

@media (max-width: 500px)
  h1
    font-size: 50px
  .quote
    font-size: 18px

@media (max-width: 400px)
  h1
    font-size: 44px
  .quote
    font-size: 15px
