.row
  .col.col--2-of-2
    h1 Funny Quotes
  .col.col--6-of-12.col--centered.button-center
    a.button-cta View Another Quote
  .col.col--2-of-2
    .quote
      p "When I die, I want to go peacefully like my grandfather did–in his sleep. Not yelling and screaming like the passengers in his car."
      i - Bob Monkhouse
  
